.container {
    margin: auto;
}

.text-center {
    text-align: center;
}

.card img {
    width: 200px;
    object-fit: cover;
}

.card {
    margin-left: 20px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgb(230, 230, 230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230, 230, 230);
    position: relative;
}

.cards {
    display: flex;
    justify-content: center;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

